<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a  class=" nav-link" id="h1" href="/serviflash/servicios_pendientes"> <center><i class="fas fa-home fa-2x"></i><br>Inicio</a> </center>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="h2"  href="/serviflash/clientes"><center><i class="fas fa-address-book fa-2x"></i><br>Clientes</a></center>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="h3" href="/serviflash/agregar_registro"><center><i class="fas fa-file-alt fa-2x"></i><br>Registrar <br> Servicio </a></center>
        </li>
        <li class="nav-item" id="admin" style="display: block;">
          <a style="color: white;" class="nav-link "  href="/serviflash/reportes"><center><i id="adminI" style="color: #212529;" class="fas fa-user-tie fa-2x"></i><br><p id="adminS" style="color: #212529;">Administrador</p></a></center>
        </li>
        <li class="nav-item">
          <a  class="nav-link " ><center><i style="color: #212529;" class="fas fa-user-tie fa-2x"></i><br><p style="color: #212529;">...</p></a></center>
        </li>
        <li class="nav-item" >
          <a class="nav-link"><center><i class="fas fa-user fa-2x"></i></i><br>Hola {{user.Nombre}}</a></center>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-4">
    <div class="row">
        <div class=" mx-auto">
            <div class="card">
                <div class="card-body" style="background-color: #212529;">
                    <h1 class="text-light mb-3 h4">Reporte</h1>
                    <div class=" mx-auto">
                        <div class="card">
                            <div class="card-body" style="background-color:#0d1117;">
                                <h1 class="text-light mb-3 h4">Total {{total}}</h1>
                            <form action="/ver_reporte" method="post">
                            <div class="form-group">
                                <label><strong>JOSE MANUEL</strong><br> numero de servicios {{tec1n}}</label>
                                <input style="font-weight: bold;" type="text" value="{{tec1}}" class="form-control text-dark" disabled>
                            </div>
                            <br>
                            <div class="form-group">
                                <label><strong>JUAN CARLOS</strong><br>  numero de servicios {{tec2n}}</label>
                                <input style="font-weight: bold;" type="text" value="{{tec2}}"  class="form-control text-dark" disabled>
                            </div>
                            <br>
                            <div class="form-group">
                                <label><strong>GERARDO LOPEZ</strong><br> numero de servicios {{tec3n}}</label>
                                <input style="font-weight: bold;" type="text"  value="{{tec3}}" class="form-control text-dark" disabled>
                            </div>
                            <br>
                            <div class="form-group">
                                <label><strong>SEBASTIAN BLANCO</strong><br> numero de servicios {{tec4n}}</label>
                                <input style="font-weight: bold;" type="text"  value="{{tec4}}" class="form-control text-dark" disabled>
                            </div>
                            <br>
                            <div class="form-group">
                                <label><strong>MANUEL RAMIREZ</strong><br> numero de servicios {{tec5n}}</label>
                                <input style="font-weight: bold;" type="text"  value="{{tec5}}" class="form-control text-dark" disabled>
                            </div>
                            <br>
                            <div class="form-group">
                                <label><strong>MANUEL RICO</strong><br> numero de servicios {{tec6n}}</label>
                                <input style="font-weight: bold;" type="text"  value="{{tec6}}" class="form-control text-dark" disabled>
                            </div>
                            <br>
                                </div>
                            </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>